@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
#letter_body{
    width: 650px; height: 510px;
}

#letter_body .title {
    text-align: right; 
    font-weight: bold; 
    height: 30px; 
    padding-right: 5px;
}

#letter_body .main_info {
    text-align: right; padding-right: 5px;
}

.letter_content {
    font-family: 'Bad Script', cursive; 
    text-indent: 25px; 
    text-align: justify; 
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 14.3px;
}

.letter_content .greeting {
    text-decoration: underline; 
    font-weight: bold; 
    font-size: 18px;
}

.footer {
    padding-left: 5px;
}