div > p {
    text-indent: 10px;
    border: solid 1px;
    border-color: silver;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 6px;
}

a[href^="http"]::before{
    content: url(link_images/extref.png);
}

p a[href$=zip]::after{
    content: url(link_images/logo-zip.gif);
}

p a[href$=docx]::after{
    content: url(link_images/logo-doc.jpg);
}

p a[href$=pdf]::after{
    content: url(link_images/logo-pdf.png);
}

li {
    list-style: url(link_images/logo-list.jpg);
}

li img {
    display: none;
}

.word:hover img{
    display: inline;
}

.pdf:hover img{
    display: inline;
}

.zip:hover img{
    display: inline;
}